.root{
    -fx-background-color: bisque;
}

.button {
    -fx-font-size: 20px;;
    -fx-border-radius:5px;
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-padding:25px;
}
.button:hover {
    -fx-background-color: #99e4f3;
}

.button:pressed {
    -fx-background-color: #78dbf3;
}

.label{
    -fx-font-size: 40;

}
